@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
    
}

#menu {
    background: #8C4AF2;
    width: 250px;
    height: 100%;
}

#menu .logo {
    display: flex;
    align-items: center;
    /* color: white; */
    padding: 3px 0 0 3px;
}

#menu .logo img {
    width: 130px;
    margin-right: 30px;
}

#menu .menuitems {
    margin-top: 3px;
}

#menu .menuitems li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .menuitems li:hover {
    background: #253047;
    cursor: pointer
}

#menu .menuitems li:nth-child(1){
    border-left: 4px solid white;
}

#menu .menuitems li i {
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px 0 25px;
}

#menu .menuitems li i,
#menu .menuitems li a:hover {
    color: #E2EEFF;
}

#menu .menuitems li a {
    text-decoration: none;
    color: white;
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 250px);
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding:  15px  30px;
    border-bottom: 3px solid #C49EFF;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #8C4AF2;
    border-radius: 6px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

#interface .navigation .search i {
    margin-right: 14px;
    color: #8C4AF2;
}

#interface .navigation .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .user i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
    color: #8C4AF2;
    cursor: pointer;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: #2d2f33;
}

#interface .navigation .user img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name {
    color: #2d2f33;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.values{
    padding: 30px 30px 0 30px;
}

.values .va1-box {
    background: white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #8C4AF2;
}

.values .va1-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: #8C4AF2;
    margin-right: 15px;
}

.values .va1-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .va1-box span {
    font-size: 15px;
    color: #828997;
}

/* Keryl's row */

  .firstrow{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-items: left;
    /* background: #F9FCFF; */
  }
  .popcount{
    display:flex;
    width: 100%;
    gap: 4px;
    flex-flow: column;
    justify-content: space-between;
  }
  .popcount .popcard{
    /* height: 106.68px; */
    width: 255px;
    background: #FFFFFF;
    /* border: 1.5px solid #8C4AF2; */
    padding: 25px 20px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    /*justify-content: center; */
    box-shadow:3px 3px 8px #C49EFF ;
  }

  .popcount .popcard i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: #8C4AF2;
    margin-right: 15px;
}  

.popcount .popcard h3 {
    font-size: 18px;
    font-weight: 600;
    color: #8C4AF2;
}

.popcount .popcard span {
    font-size: 15px;
    color: #C49EFF;
}
  
  .other-card{
  width: 100%;
  background: #FFFFFF;
  /* border: 1.5px solid #B1B1B1; */
  border-radius: 9px; 
  box-shadow:3px 3px 8px #C49EFF ;
  }

  p.firstcol-title {
    font-weight: 500;
    font-size: 10.3239px;
    text-align: justify;
    justify-items: center;
    color: #B1B1B1;
    margin-left: 90px;
    margin-top: -30px;
    
    }

  p.personel{
    top: 50.24px;
    font-weight: 500;
    font-size: 16.5182px;
    text-align: justify;
    color: #000000;
    margin-left: 90px;
    margin-top: -10px;
  }

.keryl-i{
  color: #8C4AF2;
  width: 22.3px;
  height: 18.58px;
  margin-left: 32px;
  margin-top: 44px;
}

p.trackpop-text{
  line-height: 25px;
  text-align: justify;
  font-size: 18px;
  font-weight: 600;
  color: #8C4AF2;
  padding: 10px 5px 10px 15px;
  text-transform: uppercase;
}

p.pop-text{
  font-size: 18px;
  font-weight: 600;
  color: #8C4AF2;
  line-height: 25px;
  text-align: justify;
  padding: 10px 5px 10px 15px;
  text-transform: uppercase;

}

#first-pie{
  display: flex;
  justify-content: center;
}

.pie-chart1{
  height: 150px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 50%;
  background: conic-gradient(#8C4AF2 0% 35%, #E2EEFF 35% 80%, #C49EFF 80% 100%);
}

.pie-chart2{
  height: 150px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 50%;
  background: conic-gradient(#C49EFF 0% 45%, #8C4AF2 45% 100%);
  
}


.legend{
  margin: 20px;
}
.leg-cloud{
  height: 22px;
  width: 38px;
  background-color: #C49EFF;
}

.legend1{
  display: flex;
  margin-bottom: 15px;
}

.legend2{
  display: flex;
}

.leg-backend{
  height: 22px;
  width: 38px;
  background-color: #8C4AF2;
}

.leg-frontend{
  height: 22px;
  width: 38px;
  background-color: #E2EEFF;
}

.leg-fem{
  height: 22px;
  width: 38px;
  background-color: #C49EFF;
  margin-bottom: 20px;
}

.leg-male{
  height: 22px;
  width: 38px;
  background-color: #8C4AF2;
  margin-bottom: 20px;
}

.leg-text{
  height: 20px;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  padding-left: 15px;
}

/* end of keryl's row */

